body {
	background-color: #EBEBEB;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}
.swiper-container {
	width: 100%;
	height: 85px;
	margin: 3px auto;
}
.swiper-slide {
	background-color: #FFFFFF;
}
.swiper-slide.message img {
	float: left;
	display: inline-block;
	padding: 16px;
	width: 53px;
}
.swiper-slide.message p {
	float: left;
	margin: 0;
	width: calc(100% - 85px);
	width: -webkit-calc(100% - 85px);
	height: 100%;
	color: #3e3a39;
	background-image: url(../image/);
}
.swiper-slide.message p .dev_name {
	display: inline-block;
	margin: 16px 0 3px;
	font-size: 18px;
	color: #3DB481;
}
.swiper-slide.message p .dev_name_offline {
	display: inline-block;
	margin: 16px 0 3px;
	font-size: 18px;
	color: #afafaf;
}
.swiper-slide.edit {
	width: 20%;
	background-color: #787878;
	background-image: url(../image/smallicon-9.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px auto;
}
.swiper-slide.delete {
	width: 20%;
	background-color: #F14C80;
	background-image: url(../image/smallicon-8.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px auto;
}